<html>
  <head>
    <title>Show</title>
    <style>
      span{
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <% id = gossips_id %>
    <p>Voici la page du potin n° <%= id %></p>
    <p>Son auteur : ==<span><%= gossips.author%></span>==</p>
    <p>Le contenu du potin : ==<span><%= gossips.content%></span>==</p>
    <a href="/<%= id %>/edit/">Editer le potin</a>
    <a href="/">Revenir à la page des potins</a>
    <br />
    <h2>Tu as de commentaires a ce potin? </h2>
    <form action='/gossips/<%= id %>/' method='POST'>
      <input type='text' name='gossip_id' value='<%= id %>' readonly>
      <input type='text' name='comment_content'/><br/>
      <input type='submit' />
    </form>
  </body>
</html>